.button-swiper {
  position: relative;
  width: 37px;
  height: 35px;
  background-color: $color-secondary;
  border: 1px solid $color-secondary;

  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 9px;
    mask-image: url("/__spritemap#sprite-arrow-line-view");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 14px 9px;
    background-color: $color-white;
  }

  &:hover {
    background-color: $color-white;
    border-color: $color-primary;

    &::before {
      background-color: $color-primary;
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: $color-white;
    border-color: transparent;

    &::before {
      background-color: $color-primary;
    }
  }
}

.button-swiper--prev {
  &::before {
    transform: rotate(180deg);
  }
}

.button-swiper--disabled {
  cursor: auto;
  pointer-events: none;
  background-color: $color-disabled;
  border-color: $color-disabled;
}
