.contacts {
  @include flex(flex-start, center, column);

  padding: 36px 0 20px;

  @media (min-width: $vp-tablet) {
    padding: 60px 0 40px;
  }

  @media (min-width: $vp-desktop) {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    justify-content: center;
    align-items: center;
    padding: 123px 0 95px;
  }
}

.contacts__wrapper {
  width: $container-mobile;

  @media (min-width: $vp-tablet) {
    width: $container-tablet;
  }

  @media (min-width: $vp-desktop) {
    width: 100%;
  }
}

.contacts__title {
  margin-bottom: 29px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 21px;
  }

  @media (min-width: $vp-desktop) {
    margin-bottom: 22px;
  }
}

.contacts__content {
  margin-bottom: 30px;

  p {
    margin: 0;
  }

  @media (min-width: $vp-tablet) {
    margin-bottom: 40px;
    width: 480px;

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  @media (min-width: $vp-desktop) {
    margin-bottom: 50px;
  }
}

.contacts__address {
  margin-bottom: 30px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 40px;
  }

  @media (min-width: $vp-desktop) {
    margin: 0;
  }
}

.contacts__map {
  width: 100vw;

  @media (min-width: $vp-desktop) {
    align-self: center;
    margin-top: -23px;
    width: 100%;
  }
}

.contacts__img {
  width: 100%;
  background-color: $color-disabled;
}
