.contacts {
  @include flex(flex-start, center, column);

  padding: 36px 0 20px;

  @media (min-width: $vp-tablet) {
    padding: 60px 0 40px;
  }
}

.contacts__wrapper {
  width: $container-mobile;

  @media (min-width: $vp-tablet) {
    width: $container-tablet;
  }
}

.contacts__title {
  margin-bottom: 29px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 20px;
  }
}

.contacts__content {
  margin-bottom: 30px;

  p {
    margin: 0;
  }

  @media (min-width: $vp-tablet) {
    margin-bottom: 40px;
    width: 480px;

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.contacts__address {
  margin-bottom: 30px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 40px;
  }
}

.contacts__map {
  width: 100vw;
}

.contacts__img {
  width: 100%;
}
