.features-card {
  position: relative;
  text-align: center;
  padding: 18px 8px;
  height: 100%;

  &::before {
    content: "";
    position: relative;
    width: 42px;
    height: 42px;
    margin-bottom: 20px;
    border: 1px solid $color-secondary;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $vp-tablet) {
    padding: 29px 19px;

    &::before {
      margin-bottom: 25px;
      width: 48px;
      height: 48px;
    }
  }

  @media (min-width: $vp-desktop) {
    padding: 39px 19px;
    width: 380px;

    &::before {
      margin-bottom: 30px;
      width: 54px;
      height: 54px;
    }
  }
}

.features-card--safety {
  &::before {
    background-image: url("/__spritemap#sprite-safety-view");
    background-size: 20px 22px;
  }
}

.features-card--knowledge {
  &::before {
    background-image: url("/__spritemap#sprite-knowledge-view");
    background-size: 22px 20px;
  }
}

.features-card--equipment {
  &::before {
    background-image: url("/__spritemap#sprite-boots-view");
    background-size: 22px 19px;
  }
}

.features-card--routes {
  &::before {
    background-image: url("/__spritemap#sprite-routes-view");
    background-size: 22px 22px;
  }
}

.features-card--nature {
  &::before {
    background-image: url("/__spritemap#sprite-nature-view");
    background-size: 22px 15px;
  }
}

.features-card__content {
  h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    margin: 0 0 15px;
  }

  p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
  }

  br {
    display: inline;
  }

  @media (min-width: $vp-tablet) {
    h3 {
      font-size: 16px;
      line-height: 16px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }

    br {
      display: inline;
    }
  }

  @media (min-width: $vp-desktop) {
    h3 {
      font-size: 18px;
      line-height: 18px;
    }

    br {
      display: none;
    }
  }
}
