.features-swiper {
  overflow: auto;

  @media (min-width: $vp-desktop) {
    overflow: hidden;
  }
}

.features-swiper__wrapper {
  flex-direction: column;
  gap: 17px;

  @media (min-width: $vp-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    @media (min-width: $vp-desktop) {
      align-items: stretch;
      flex-wrap: nowrap;
      margin-bottom: 50px;
    }
  }
}

.features-swiper__slide {
  @media (min-width: $vp-tablet) {
    width: 324px;
  }

  @media (min-width: $vp-desktop) {
    width: 380px;
    height: auto;
  }
}

.features-swiper__nav {
  display: none;

  @media (min-width: $vp-desktop) {
    @include flex(center, center);
    gap: 4px;
    margin: 0 auto;
    width: $container-desktop;
  }
}