.features {
  @include flex(flex-start, center, column);

  padding: 36px 0 20px;

  @media (min-width: $vp-tablet) {
    padding: 60px 0 40px;
  }

  @media (min-width: $vp-desktop) {
    padding: 135px 0 100px;
  }
}

.features__wrapper {
  width: $container-mobile;

  @media (min-width: $vp-tablet) {
    width: $container-tablet;
  }

  @media (min-width: $vp-desktop) {
    width: 100vw;
  }
}

.features__title {
  margin-bottom: 38px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 60px;
  }

  @media (min-width: $vp-desktop) {
    width: $container-desktop;
    margin: 0 auto 50px;
  }
}
