.footer-nav__list {
  @include list-reset;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  column-gap: 50px;
  row-gap: 9px;
  margin-bottom: -3px;

  @media (min-width: $vp-tablet) {
    @include flex(flex-end, center);

    grid: none;
    gap: 25px;
    flex-wrap: wrap;
    margin: 0;
  }

  @media (min-width: $vp-desktop) {
    justify-content: center;
    gap: 30px;
  }
}

.footer-nav__item {
  text-align: center;
}

.footer-nav__link {
  line-height: 14px;
  color: $color-primary;

  @media (min-width: $vp-desktop) {
    font-size: 16px;
    line-height: 16px;
  }
}
