.gallery {
  padding: 36px 0 3px;

  @media (min-width: $vp-tablet) {
    padding: 60px 0 3px;
  }

  @media (min-width: $vp-desktop) {
    padding: 119px 0 3px;
  }
}

.gallery__wrapper {
  margin: 0 auto 31px;
  width: $container-mobile;

  @media (min-width: $vp-tablet) {
    margin: 0 auto 21px;
    width: $container-tablet;
  }

  @media (min-width: $vp-desktop) {
    margin: 0 auto 41px;
    width: $container-desktop;
  }
}

.gallery__title {
  margin: 0 0 27px;
}

.gallery__content {
  p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
  }

  @media (min-width: $vp-tablet) {
    width: 420px;
  }
}

.gallery__inner {
  position: relative;
  margin: 0 auto;
  width: $vp-mobile;

  @media (min-width: $vp-tablet) {
    width: $vp-tablet;
  }

  @media (min-width: $vp-desktop) {
    width: $vp-desktop;
  }
}