.hero-swiper {
  display: grid;
}

.hero-swiper__wrapper {
  align-items: stretch;
}

.hero-swiper__slide {
  @include flex(center, center, column);

  position: relative;
  padding: 40px 0 56px;
  min-height: 568px;
  height: auto;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: $overlay-primary;
  }

  @media (min-width: $vp-tablet) {
    justify-content: flex-start;
    padding-top: 137px;
    min-height: 1034px;
  }

  @media (min-width: $vp-desktop) {
    padding-top: 200px;
    padding-bottom: 60px;
    min-height: 800px;
  }
}

.hero-swiper__slide--caucasus {
  background-color: #6c8cbb;

  @media (min-width: $vp-tablet) {
    padding-top: 342px;
  }

  @media (min-width: $vp-desktop) {
    padding-top: 200px;
  }
}

.hero-swiper__slide--kamchatka {
  background-color: #1c3755;
}

.hero-swiper__slide--altay {
  background-color: #10252c;
}

.hero-swiper__img {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hero-swiper__inner {
  @include flex(center, center, column);

  position: relative;
  z-index: 2;
  justify-self: center;
  padding: 20px 0;
  width: $container-mobile;
  min-height: 472px;

  @media (min-width: $vp-tablet) {
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 45px;
    width: $container-tablet;
    min-height: auto;
  }

  @media (min-width: $vp-desktop) {
    align-items: flex-start;
    width: $container-desktop;
    min-height: 520px;
    margin-bottom: 0;
  }
}

.hero-swiper__content {
  display: grid;
  row-gap: 15px;
  color: $color-white;
  text-align: center;
  margin-bottom: 60px;

  h2,
  p {
    margin: 0;
  }

  h2 {
    font-size: 26px;
    font-weight: 800;
    line-height: 26px;
  }

  p {
    font-size: 15px;
    line-height: 20px;
  }

  @media (min-width: $vp-tablet) {
    margin-bottom: 35px;

    h2 {
      font-size: 56px;
      line-height: 56px;
    }

    p {
      font-size: 17px;
      line-height: 24px;
      justify-self: center;
      width: 500px;
    }
  }

  @media (min-width: $vp-desktop) {
    text-align: left;
    row-gap: 23px;
    margin-bottom: 37px;
    width: 944px;

    h2 {
      font-size: 77px;
      line-height: 77px;
    }

    p {
      justify-self: flex-start;
      width: 470px;
    }
  }
}

.hero-swiper__button {
  min-width: 180px;

  @media (min-width: $vp-desktop) {
    margin-bottom: 134px;
  }
}

.hero-swiper__details-list {
  @include list-reset;

  display: none;
  gap: 10px;
  flex-wrap: wrap;

  @media (min-width: $vp-desktop) {
    @include flex(flex-start, center);
  }
}

.hero-swiper__details-item {
  @include flex(center, center);

  position: relative;
  font-size: 12px;
  line-height: 16px;
  color: $color-white;
  gap: 8px;
  padding: 13px 19px;
  border: 1px solid rgba($color: $color-white, $alpha: 0.5);

  &::before {
    content: "";
    position: relative;
    width: 12px;
    height: 12px;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $color-white;
  }
}

.hero-swiper__details-item--duration {
  &::before {
    mask-image: url("/__spritemap#sprite-duration-view");
    mask-size: 11px 11px;
  }
}

.hero-swiper__details-item--level {
  &::before {
    mask-image: url("/__spritemap#sprite-level-view");
    mask-size: 12px 12px;
  }
}

.hero-swiper__img-photo {
  display: none;

  @media (min-width: $vp-tablet) {
    display: flex;
  }

  @media (min-width: $vp-desktop) {
    position: absolute;
    top: 188px;
    right: 120px;
  }
}

.hero-swiper__pagination-wrapper {
  @include flex(center, center);

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  z-index: 10;
  justify-self: center;
  flex-wrap: wrap;
  width: $container-mobile;

  @media (min-width: $vp-tablet) {
    width: $container-tablet;
  }

  @media (min-width: $vp-desktop) {
    bottom: 94px;
    justify-content: flex-end;
    width: $container-desktop;
  }
}

.hero-swiper__pagination {
  @include flex(center, center);

  gap: 20px;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  text-align: center;
}

.hero-swiper__bullet {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid $color-white;
  border-radius: 50%;
  cursor: default;

  &--active {
    background-color: $color-white;
  }

  &:hover {
    background-color: #d9d9d9;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid rgba($color: $color-white, $alpha: 0.5);
    outline-offset: 2px;
  }

  @media (min-width: $vp-tablet) {
    width: 20px;
    height: 20px;
  }

  @media (min-width: $vp-desktop) {
    cursor: pointer;
  }
}
