.nav__wrapper {
  display: none;

  @media (min-width: $vp-desktop) {
    display: block;
    margin-top: 2px;
  }
}

.nav__button {
  @include flex(space-evenly, flex-start, column);

  position: relative;
  padding: 4px 0;
  width: 26px;
  height: 26px;

  @media (min-width: $vp-tablet) {
    align-self: center;
  }

  @media (min-width: $vp-desktop) {
    display: none;
  }
}

.nav__button-burger {
  display: inline-block;
  width: 60%;
  height: 2px;
  background-color: $color-white;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $color-white;
  }

  &::before {
    top: 4px;
  }

  &::after {
    bottom: 4px;
  }
}

.nav__list {
  @include flex(center, center);
  @include list-reset;

  gap: 30px;
}

.nav__link {
  font-size: 16px;
  line-height: 16px;
  color: $color-white;
}
