.page__main {
  position: relative;
  overflow-x: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 577px;
    right: -205px;
    width: 346px;
    height: 595px;
    background-image:
      image-set(
        url("../../img/tours/background/clouds-mobile@1x.webp") type("image/webp") 1x,
        url("../../img/tours/background/clouds-mobile@2x.webp") type("image/webp") 2x,
        url("../../img/tours/background/clouds-mobile@1x.png") type("image/png") 1x,
        url("../../img/tours/background/clouds-mobile@2x.png") type("image/png") 2x
      );
  }

  @media (min-width: $vp-tablet) {
    &::before {
      content: "";
      position: absolute;
      top: 942px;
      right: -177px;
      z-index: -1;
      width: 602px;
      height: 1630px;
      background-image:
        image-set(
          url("../../img/tours/background/clouds-tablet@1x.webp") type("image/webp") 1x,
          url("../../img/tours/background/clouds-tablet@2x.webp") type("image/webp") 2x,
          url("../../img/tours/background/clouds-tablet@1x.png") type("image/png") 1x,
          url("../../img/tours/background/clouds-tablet@2x.png") type("image/png") 2x
        );
    }
  }

  @media (min-width: $vp-desktop) {
    &::before {
      content: "";
      position: absolute;
      top: 674px;
      right: 0;
      z-index: -1;
      width: 602px;
      height: 1630px;
      background-image:
        image-set(
          url("../../img/tours/background/clouds-desktop@1x.webp") type("image/webp") 1x,
          url("../../img/tours/background/clouds-desktop@2x.webp") type("image/webp") 2x,
          url("../../img/tours/background/clouds-desktop@1x.png") type("image/png") 1x,
          url("../../img/tours/background/clouds-desktop@2x.png") type("image/png") 2x
        );
    }
  }
}

.page__main-section {
  @media (min-width: $vp-tablet) {
    background-image: image-set(
      url('../../img/features/clouds-1@1x.webp') type("image/webp") 1x,
      url('../../img/features/clouds-1@2x.webp') type("image/webp") 2x,
      url('../../img/features/clouds-1@1x.png') type("image/png") 1x,
      url('../../img/features/clouds-1@2x.png') type("image/png") 2x,
    ), image-set(
      url('../../img/features/clouds-2@1x.webp') type("image/webp") 1x,
      url('../../img/features/clouds-2@2x.webp') type("image/webp") 2x,
      url('../../img/features/clouds-2@1x.png') type("image/png") 1x,
      url('../../img/features/clouds-2@2x.png') type("image/png") 2x,
    );
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    background-position: top 705px left 0px, bottom 165px right -140px;
  }

  @media (min-width: $vp-desktop) {
    background-position: top 105px left -275px, bottom 320px right -650px;
  }
}