.reviews-card {
  display: grid;
  row-gap: 20px;
  padding: 20px;
  background-color: $color-white;
  border: 1px solid $color-white;
  box-shadow: 0px 0px 20px 0px rgba(28, 51, 116, 0.1);

  @media (min-width: $vp-tablet) {
    grid-template-columns: auto auto;
    column-gap: 30px;
    padding: 20px 30px 20px 20px;
    width: 565px;
  }

  @media (min-width: $vp-desktop) {
    padding: 20px 40px 20px 20px;
    width: 700px;
  }
}

.reviews-card__img {
  width: 100%;

  @media (min-width: $vp-tablet) {
    grid-row: 1/2;
    width: 186px;
  }

  @media (min-width: $vp-desktop) {
    width: 258px;
  }
}

.reviews-card__inner {
  display: grid;
  row-gap: 15px;

  @media (min-width: $vp-tablet) {
    row-gap: 25px;
    align-items: flex-start;
    height: min-content;
  }

  @media (min-width: $vp-desktop) {
    row-gap: 2px;
  }
}

.reviews-card__content {
  display: grid;
  row-gap: 10px;
  margin: 0;

  p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
  }

  br {
    display: none;
  }

  @media (min-width: $vp-desktop) {
    p {
      font-size: 14px;
      line-height: 22px;
    }

    br {
      display: inline;
    }
  }
}

.reviews-card__source {
  display: grid;
  row-gap: 8px;
  margin-top: auto;

  @media (min-width: $vp-tablet) {
    row-gap: 6px;
  }
}

.reviews-card__title {
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  margin: 0;

  @media (min-width: $vp-desktop) {
    font-size: 13px;
    line-height: 13px;
  }
}

.reviews-card__description {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  margin: 0;
}