.reviews-swiper {
  width: $vp-mobile;
  padding: 15px;

  @media (min-width: $vp-tablet) {
    overflow: visible;
    width: auto;
    padding: 0;
  }
}

.reviews-swiper__wrapper {
  @media (min-width: $vp-tablet) {
    align-items: stretch;
    padding: 15px;
    margin-left: -15px;
  }

  @media (min-width: $vp-desktop) {
    padding: 10px;
    margin-left: 0;
  }
}

.reviews-swiper__slide {
  width: min-content;
  height: min-content;

  @media (min-width: $vp-tablet) {
    display: flex;
    height: auto;
  }
}

.reviews-swiper__nav {
  display: none;

  @media (min-width: $vp-tablet) {
    @include flex(flex-end, center);

    position: absolute;
    top: -50px;
    right: 0;
    z-index: 2;
    gap: 4px;
    max-width: 238px;
  }

  @media (min-width: $vp-desktop) {
    top: -70px;
  }
}
