.tours-swiper__nav {
  display: none;

  @media (min-width: $vp-tablet) {
    @include flex(flex-end, center);

    position: absolute;
    top: -60px;
    right: 0;
    z-index: 2;
    gap: 4px;
    max-width: 238px;
  }

  @media (min-width: $vp-desktop) {
    top: -88px;
  }
}


