.trainers-swiper__wrapper {
  align-items: stretch;
}

.trainers-swiper__slide {
  display: flex;
  height: auto;
}

.trainers-swiper__card {
  padding: 15px;
}

.trainers-swiper__card-img {
  margin-bottom: 15px;
  width: 100vw;
  height: 200px;
  object-fit: cover;

  @media (min-width: $vp-tablet) {
    height: 200px;
  }

  @media (min-width: $vp-desktop) {
    width: 255px;
  }
}

.trainers-swiper__content {
  p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
  }
}

.trainers-swiper__content-header {
  @include flex(space-between, flex-start);

  margin-bottom: 15px;

  h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
    max-width: 140px;
  }

  a {
    width: 24px;
    height: 24px;

    &::before {
      width: 24px;
      height: 24px;
      mask-size: 14px 8px;
    }
  }
}

.trainers-swiper__nav {
  display: none;

  @media (min-width: $vp-tablet) {
    @include flex(flex-end, center);

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    gap: 4px;
    max-width: 238px;
  }
}