.button {
  @include flex(center, center);

  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--primary {
    color: $color-white;
    background-color: $color-secondary;
    border: 1px solid $color-secondary;

    &:hover {
      color: $color-active;
      background-color: $color-white;
      border-color: $color-active;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      color: $color-active;
      background-color: $color-white;
      border-color: $color-white;
    }

    &:active {
      color: $color-white;
      background-color: $color-active;
      border-color: $color-active;
    }

    &:disabled {
      color: $color-white;
      background-color: $color-disabled;
      pointer-events: none;
    }
  }
}

.button__main {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;

  padding: 19px 20px;
}

.button__swiper-nav {
  position: relative;
  width: 37px;
  height: 35px;
  background-color: $color-secondary;

  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 9px;
    mask-image: url("/__spritemap#sprite-arrow-line-view");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 14px 9px;
    background-color: $color-white;
  }
}

.button__swiper-nav--prev {
  &::before {
    transform: rotate(180deg);
  }
}

.button__swiper-nav--disabled {
  cursor: auto;
  pointer-events: none;
  background-color: $color-disabled;
}
